main {
  min-height: calc(100vh - 13rem);
}

.movie-card-thumbnail {
  object-fit: cover;
  object-position: center;
}
.movie-inner-thumbnail {
  object-fit: cover;
  object-position: center;
  max-height: 70vh;
}
.movie-card-badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
}